body {
	background: #FCEBB6;
	text-color: #221811;
	font-family: Verdana, Arial, sans-serif;
}

header {
	background: #D2B48C;
	text-align: center;
}

h1 {
	line-height: 200%;
}

nav {
	font-weight: bold;
	text-align: center;
}

footer {
	background: #D2B48C;
	font-size: 0.60em;
	text-align: center;
	font-style: italic;
}

#wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
